In [1]:
import pandas as pd 
import numpy as np 
import os

In [2]:
user_traits = pd.read_csv(os.path.join("data", "user_traits.csv"))
like_users = pd.DataFrame(pd.read_csv(os.path.join("data", "user_likes_chars.csv"))["user_id"].unique())
like_users.rename({0: "user_id"}, axis = 1, inplace=True)

In [3]:
traits_dict = user_traits.merge(like_users, how = "inner", on = "user_id")["traits"].apply(lambda x: dict(eval(x)))
data_df = pd.concat([user_traits.merge(like_users, how = "inner", on = "user_id").loc[:, ["user_id"]], pd.json_normalize(traits_dict)], axis=1)

In [4]:
data_df

,user_id,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,26,2.3,1.6,2.5,2.3,1.6,2.2,2.7,1.4,3.9,...,1.2,2.0,2.0,1.5,3.8,3.0,3.0,2.5,2.7,4.3
1,28,1.5,1.4,1.5,1.5,4.5,4.6,4.6,1.4,1.4,...,1.5,1.6,4.5,1.5,1.5,1.5,1.6,4.5,1.4,1.5
2,34,4.6,3.5,4.6,2.0,4.4,1.4,4.0,4.6,3.8,...,2.1,4.6,1.3,2.0,3.2,2.0,2.0,4.5,1.6,4.6
3,36,2.5,3.0,2.3,2.0,2.5,2.6,3.9,1.5,2.0,...,1.8,1.5,2.4,2.6,1.8,3.0,3.0,3.0,2.9,3.4
4,45,1.4,2.6,2.5,2.6,3.5,3.5,2.4,3.5,3.0,...,2.6,2.5,3.4,1.3,3.5,2.7,3.4,2.5,2.6,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32429,398186,1.8,4.1,3.9,2.5,3.0,4.0,3.0,3.0,2.1,...,3.3,4.0,3.0,2.0,4.7,3.0,3.0,3.1,3.0,2.0
32430,398196,2.1,2.5,3.4,2.0,1.5,1.9,3.0,3.5,2.4,...,2.5,1.9,2.4,2.3,3.5,3.0,3.0,2.4,3.6,3.6
32431,398243,2.5,3.1,2.7,2.8,3.6,4.2,3.6,3.3,3.7,...,3.0,3.6,3.6,2.4,3.4,3.0,3.0,5.0,3.6,3.4
32432,398367,2.6,2.4,4.5,2.3,1.0,3.6,3.4,1.4,2.5,...,2.4,1.0,3.4,2.4,3.6,3.0,3.0,4.6,3.6,2.4
32433,398375,2.8,2.4,3.9,4.5,3.6,1.0,2.5,1.8,3.0,...,2.5,1.0,3.0,2.1,3.0,3.0,3.0,2.7,2.5,2.5

In [37]:
from sklearn.model_selection import train

,user_id,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,26,2.3,1.6,2.5,2.3,1.6,2.2,2.7,1.4,3.9,...,1.2,2.0,2.0,1.5,3.8,3.0,3.0,2.5,2.7,4.3
1,28,1.5,1.4,1.5,1.5,4.5,4.6,4.6,1.4,1.4,...,1.5,1.6,4.5,1.5,1.5,1.5,1.6,4.5,1.4,1.5
2,34,4.6,3.5,4.6,2.0,4.4,1.4,4.0,4.6,3.8,...,2.1,4.6,1.3,2.0,3.2,2.0,2.0,4.5,1.6,4.6
3,36,2.5,3.0,2.3,2.0,2.5,2.6,3.9,1.5,2.0,...,1.8,1.5,2.4,2.6,1.8,3.0,3.0,3.0,2.9,3.4
4,45,1.4,2.6,2.5,2.6,3.5,3.5,2.4,3.5,3.0,...,2.6,2.5,3.4,1.3,3.5,2.7,3.4,2.5,2.6,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32429,398186,1.8,4.1,3.9,2.5,3.0,4.0,3.0,3.0,2.1,...,3.3,4.0,3.0,2.0,4.7,3.0,3.0,3.1,3.0,2.0
32430,398196,2.1,2.5,3.4,2.0,1.5,1.9,3.0,3.5,2.4,...,2.5,1.9,2.4,2.3,3.5,3.0,3.0,2.4,3.6,3.6
32431,398243,2.5,3.1,2.7,2.8,3.6,4.2,3.6,3.3,3.7,...,3.0,3.6,3.6,2.4,3.4,3.0,3.0,5.0,3.6,3.4
32432,398367,2.6,2.4,4.5,2.3,1.0,3.6,3.4,1.4,2.5,...,2.4,1.0,3.4,2.4,3.6,3.0,3.0,4.6,3.6,2.4
32433,398375,2.8,2.4,3.9,4.5,3.6,1.0,2.5,1.8,3.0,...,2.5,1.0,3.0,2.1,3.0,3.0,3.0,2.7,2.5,2.5